:root {
  --primary-color: #2563eb; /* Bleu professionnel */
  --secondary-color: #f3f4f6; /* Gris clair */
  --text-color: #1f2937; /* Gris foncé */
}

body {
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  
}

.logo img {
  width: 70px; /* Ajustez la taille selon vos besoins */
  height: 70px; /* Ajustez la taille selon vos besoins */
  border-radius: 50%; /* Pour rendre le logo rond */
}

.logo {
  width: 100%; /* S'assurer que le logo prend toute la largeur disponible */
  display: flex;
  gap: 550px;
  justify-content: center; /* Centre le logo */
  align-items: center; /* Aligne verticalement les éléments */
  margin-bottom: 50px;
  padding-top: 50px; /* Espace entre le logo et la navigation */
}

.login {
  background-color: #ff7d00;
}

.signup {
  background-color: #f72585;
}

.slideshow-container {
  position: relative;
  max-width: 700px; /* Largeur du diaporama */
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slide {
  display: none; /* Cache toutes les images */
}

.slide img {
  width: 100%; /* L'image prend toute la largeur */
  display: block;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


